{
  "scriptId": "YOUR_SCRIPT_ID_HERE",
  "rootDir": "./src",
  "parentId": "YOUR_SPREADSHEET_ID_HERE",
  "scriptExtensions": [
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}
